
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form form-horizontal" id="formAdd">
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>权限名称：</label>
        <div class="formControls col-5">
            <input type="text" class="input-text" value="" placeholder="" id="name" name="name" datatype="*2-16" nullmsg="用户名不能为空">
        </div>
        <div class="col-4"> </div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>权限描述：</label>
        <div class="formControls col-5">
            <input type="text" class="input-text" value="" placeholder="" id="description" name="description" datatype="*2-16" nullmsg="用户名不能为空">
        </div>
        <div class="col-4"> </div>
    </div>
    <div class="row cl">
        <div class="col-9 col-offset-3">
            <input id="btnSave" class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        </div>
    </div>
</form>

@section FooterScript
{
    <script type="text/javascript">
        var saveAjax = function () {
            //var name = $("#name").val;
            //var description = $("#description").val;
            var formData = $("#formAdd").serializeArray();            
            $.ajax({
                url: "/Permission/Add",
                type: "post",
                //data: { naem: name, description: description}
                data: formData,
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    if (res.status == "ok") {
                        layer.msg('添加成功', { icon: 1, time: 2000 });
                        parent.location.reload();//刷新父窗口
                    }
                    else {                        
                        layer.msg(res.errorMsg, { icon: 1, time: 2000 });
                    }
                },
                error: function () {
                    alert("请求出错");
                }
            });
        };

        $(function () {
            $("#btnSave").click(saveAjax);
        });
    </script>
}

